<div class="stdMargin" *ngIf="category$.value">
    <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between start">
        <h1>{{category$.value.category ? category$.value.category : 'Uncategorized'}}</h1>
        <button mat-icon-button class="forceHideOverflow" routerLink="/notes/note/{{category$.value.category}}"
            aria-label="Add Note" color="primary" matTooltip="Add Note" [matTooltipShowDelay]="1500">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column-reverse" fxLayoutAlign="space-between" fxLayoutGap="1em"
        fxLayoutGap.lt-sm="0">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1em" fxLayoutGap.lt-sm="0"
            *ngIf="category$.value.categories.length > 0">
            <mat-form-field>
                <input matInput placeholder="Search" (input)="refreshDisplayedCategories()" [(ngModel)]="searchQuery">
            </mat-form-field>
            <mat-form-field>
                <mat-select (selectionChange)="refreshDisplayedCategories()" placeholder="Sort" name="sort" #sort
                    [(ngModel)]="selectedSort">
                    <mat-option *ngFor="let sortOption of sortOptions; let i = index" [value]="i">
                        {{sortOption}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="1em">
        <mat-grid-list #grid role="list" cols="1" rowHeight="13em" gutterSize="1em" [class.hide]="displayedCategories.length == 0">
            <mat-grid-tile matRipple role="listitem" *ngFor="let note of displayedCategories" fxLayout="column"
                class="noteContainer">
                <mat-menu #noteMenu="matMenu">
                    <div *ngFor="let category of categories$.value">
                        <button mat-menu-item *ngIf="category != category$.value.category"
                            (click)="moveNote(category$.value.category, category.category, note.fileName)">{{category.category ? category.category : 'Uncategorized'}}</button>
                    </div>
                </mat-menu>
                <div [routerLink]="['/notes/note', category$.value.category ? category$.value.category : '/', note.fileName]"
                    fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="1em" class="note">
                    <div fxLayout="column">
                        <span class="stdMarginBottom" class="textOverflow">{{note.fileName}}</span>
                        <small>Modified:
                            {{formatDate(note.modified)}}</small>
                        <small>Created:
                            {{formatDate(note.created)}}</small>
                    </div>
                    <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between" fxLayoutGap="1em">
                        <button mat-icon-button class="forceHideOverflow" color="warn"
                            (click)="deleteNote(category$.value.category, note.fileName); $event.stopPropagation()"
                            aria-label="Delete" matTooltip="Delete" [matTooltipShowDelay]="1500">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="end">
                            <button mat-icon-button class="forceHideOverflow" aria-label="Rename" class="stdMarginTop"
                                (click)="renameNote(category$.value.category, note.fileName); $event.stopPropagation()"
                                matTooltip="Rename" [matTooltipShowDelay]="1500">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button class="forceHideOverflow" color="primary"
                                [matMenuTriggerFor]="noteMenu" (click)="$event.stopPropagation()" aria-label="Move"
                                matTooltip="Move" [matTooltipShowDelay]="1500">
                                <mat-icon>swap_vert</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <span *ngIf="displayedCategories.length == 0 && category$.value">No Notes.</span>
</div>
<div *ngIf="!category$.value">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>