<div style="height: 100%;" fxLayout="column">
    <mat-toolbar fxLayout="row" fxLayoutGap="1em" color="primary" fxLayoutAlign="space-between center"
        style="padding-top: 1em; padding-bottom: 1em;">
        <a routerLink="/" class="hiddenLink">MarkD</a>
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="default center">
            <button mat-icon-button routerLink="/categories" routerLinkActive="activeLink" style="overflow: hidden;" aria-label="Categories" matTooltip="Categories" [matTooltipShowDelay]="1500">
                <mat-icon>dynamic_feed</mat-icon>
            </button>
            <button mat-icon-button routerLink="/help" routerLinkActive="activeLink" style="overflow: hidden;" aria-label="Help" matTooltip="Help" [matTooltipShowDelay]="1500">
                <mat-icon>help_outline</mat-icon>
            </button>
            <button mat-icon-button *ngIf="authService.isLoggedIn | async" (click)="logout()" style="overflow: hidden;" aria-label="Logout" matTooltip="Logout" [matTooltipShowDelay]="1500">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <div fxFlex="100%">
        <router-outlet></router-outlet>
    </div>
</div>