<div *ngIf="folders; else loading" fxLayout="column" fxLayoutGap="1em" class="stdMargin">
    <div fxLayout="row" fxLayoutAlign="end" fxFlex="100%">
        <button mat-button style="overflow: hidden;" (click)="addFolder()" aria-label="Add Folder" color="primary">
            + Add Folder
        </button>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="1em">
        <div *ngFor="let folder of folders$.value" class="stdMarginBottom">
            <button mat-button routerLink="/folder/{{folder}}">{{folder ? folder : '/'}}</button>
        </div>
    </div>
</div>

<ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>