<div *ngIf="list$ | async as list; else loading" fxLayout="column" fxLayoutGap="1em" class="stdMargin">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let folder of list" [expanded]="folder.folder === currentlyOpen" (opened)="openedFolder(folder.folder)" (closed)="closedFolder(folder.folder)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{folder.folder ? folder.folder : '/'}}
                </mat-panel-title>
                <mat-panel-description>
                    {{folder.notes.length == 0 ? 'No Files' : folder.notes.length == 1 ? '1 File' : folder.notes.length + ' Files'}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-folder [folder]="folder"></app-folder>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>