@import '~@angular/material/theming';
@include mat-core();

// Colors for light theme
$app-primary-light: mat-palette($mat-indigo, 500, 400, 900);
$app-accent-light: mat-palette($mat-pink);
$app-warn-light: mat-palette($mat-red);
// Colors for dark theme
$app-primary-dark: mat-palette($mat-indigo, 800, 500, 900);
$app-accent-dark: mat-palette($mat-pink);
$app-warn-dark: mat-palette($mat-red);

$app-theme-light: mat-light-theme($app-primary-light, $app-accent-light, $app-warn-light);
$app-theme-dark: mat-dark-theme($app-primary-dark, $app-accent-dark, $app-warn-dark);

@media (prefers-color-scheme: light) {
    @include angular-material-theme($app-theme-light);
    html, body {
      background-color: rgb(255, 255, 255);
      color: #000
    }
    .activeLink {
        color: mat-color($app-accent-light, lighter)
    }
    .warn {
        color: mat-color($app-warn-light)
    }
    .active {
        color: mat-color($app-accent-light, darker) !important;
        background-color: mat-color($app-accent-light, default, 0.1) !important;
    }
    .archived {
        background-color: rgba(0, 0, 0, 0.05) !important;
    }
    mat-sidenav-container, mat-sidenav {
        background-color: rgb(255, 255, 255) !important;
    }
}

@media (prefers-color-scheme: dark) {
    @include angular-material-theme($app-theme-dark);
    html, body {
      background-color: rgb(25, 25, 25);
      color: #FFF;
    }
    .activeLink {
        color: mat-color($app-accent-dark, lighter)
    }
    .archived {
        background-color: rgba(255, 255, 255, 0.05) !important;
    }
    .warn {
        color: mat-color($app-warn-dark)
    }
    mat-expansion-panel, mat-expansion-panel-header, mat-expansion-panel-body {
        background-color: rgba(40, 40, 40) !important;
    }
    .active {
        color: mat-color($app-accent-dark, lighter) !important;
        background-color: mat-color($app-accent-dark, default, 0.1) !important;
    }
    .archived {
        background-color: rgba(255, 255, 255, 0.05) !important;
    }
    mat-sidenav-container, mat-sidenav {
        background-color: rgb(25, 25, 25) !important;
    }
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-sidenav-container {
    height: 100%;
}
  
mat-sidenav {
    width: 15em;
}

.stdMargin {
    margin: 1em;
}

.stdMarginHorizontal {
    margin-left: 1em !important;
    margin-right: 1em !important;
}

.stdMarginTop {
    margin-top: 1em;
}

.stdMarginBottom {
    margin-bottom: 1em;
}

.hideInput {
    border: none;
}

.bold {
    font-weight: bold;
}

.large {
    font-size: large;
}

.hiddenLink {
    text-decoration: none;
    color: inherit;
}

.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
  
.cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.stack {
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    padding: 1em;
    border-color: gray;
}

.hide {
    display: none !important;
}

.sidenavDiv {
    display: flex;
    flex-direction: column;
}

mat-sidenav-container {
    flex: 1 0 auto;
}

.height100 {
    height: 100%;
}

a {
    color: inherit;
}

.noteContainer {
    .note:hover {
        background-color: rgba($color: mat-color($app-accent-light), $alpha: 0.1)
    }
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: gray;
    padding: 1em;
}

.note {
    height: 100%;
    width: 100%;
    padding: 1em;
}

.textOverflow {
    overflow: auto;
    white-space: nowrap;
}

.bottomFixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.forceAutoOverflow {
    overflow: auto !important;
}

.forceStdPaddingVertical {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

mat-grid-list {
    overflow: auto;
    min-height:max-content;
}