@import '~@angular/material/theming';
@include mat-core();

// Colors for light theme
$app-primary: mat-palette($mat-red, 'A400');
$app-accent: mat-palette($mat-amber);
$app-warn: mat-palette($mat-red);

$app-light-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
$app-dark-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

@media (prefers-color-scheme: light) {
    @include angular-material-theme($app-light-theme);
    html, body, mat-sidenav-container {
      background-color: #FFF !important;
      color: #000;
    }
    mat-expansion-panel, mat-expansion-panel-header, mat-expansion-panel-body {
        background-color: rgba(255, 255, 255) !important;
    }
    .stack, .note {
        background-color: #FFF !important;
    }
    .active, .archived {
        background-color: rgba(0, 0, 0, 0.05) !important;
    }
    .activeLink {
        color: mat-color($app-accent) !important;
    }
    mat-sidenav, .noteContainer .note:hover {
        background-color: rgba(245, 245, 245) !important;
    }
}

@media (prefers-color-scheme: dark) {
    @include angular-material-theme($app-dark-theme);
    html, body, mat-sidenav-container {
      background-color: #121212 !important;
      color: #FFF;
    }
    mat-expansion-panel, mat-expansion-panel-header, mat-expansion-panel-body {
        background-color: rgba(40, 40, 40) !important;
    }
    .stack, .note {
        background-color: #1E1E1E !important;
    }
    .active, .archived {
        background-color: rgba(255, 255, 255, 0.1) !important;
    }
    .activeLink {
        color: mat-color($app-accent) !important;
    }
    mat-sidenav, .noteContainer .note:hover {
        background-color: #2D2D2D !important;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

code {
    display: block;
    white-space: pre-wrap
}

mat-sidenav-container {
    height: 100%;
}
  
.noteContainer {
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    padding: 1em;
    border-color: gray;
}

mat-sidenav {
    width: 15em;
}

.stdMargin {
    margin: 1em !important;
}

.stdMarginHorizontal {
    margin-left: 1em !important;
    margin-right: 1em !important;
}

.stdMarginTop {
    margin-top: 1em;
}

.stdMarginBottom {
    margin-bottom: 1em;
}

.hideInput {
    border: none;
}

.bold {
    font-weight: bold;
}

.large {
    font-size: large;
}

.hiddenLink {
    text-decoration: none;
    color: inherit;
}

.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
  
.cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.hide {
    display: none !important;
}

.sidenavDiv {
    display: flex;
    flex-direction: column;
}

mat-sidenav-container {
    flex: 1 0 auto;
}

.height100 {
    height: 100%;
}

a {
    color: inherit;
}

.note {
    height: 100%;
    width: 100%;
    padding: 1em;
}

.textOverflow {
    overflow: auto;
    white-space: nowrap;
}

.bottomFixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.forceAutoOverflow {
    overflow: auto !important;
}

.forceHideOverflow {
    overflow: hidden !important;
}

.forceStdPaddingVertical {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

mat-grid-list {
    overflow: auto;
    min-height:max-content;
}