@import '~@angular/material/theming';
@include mat-core();

$app-placeholder: $mat-indigo; // Bugfix
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-blue-gray);
$app-warn: mat-palette($mat-red);

$app-theme-light: mat-light-theme($app-placeholder, $app-accent, $app-warn);
$app-theme-dark: mat-dark-theme($app-primary, $app-accent, $app-warn);

@media (prefers-color-scheme: light) {
    @include angular-material-theme($app-theme-light);
    html, body {
      background-color: rgb(255, 255, 255);
      color: #000
    }
    .activeLink {
        color: mat-color($app-accent, lighter)
    }
    .warn {
        color: mat-color($app-warn)
    }
}

@media (prefers-color-scheme: dark) {
    @include angular-material-theme($app-theme-dark);
    html, body {
      background-color: rgb(25, 25, 25);
      color: #FFF;
    }
    .activeLink {
        color: mat-color($app-accent, lighter)
    }
    .archived {
        background-color: rgba(255, 255, 255, 0.05) !important;
    }
    .warn {
        color: mat-color($app-warn)
    }
    mat-expansion-panel, mat-expansion-panel-header, mat-expansion-panel-body {
        background-color: rgba(40, 40, 40) !important;
    }
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.stdMargin {
    margin: 1em;
}

.stdMarginHorizontal {
    margin-left: 1em !important;
    margin-right: 1em !important;
}

.stdMarginTop {
    margin-top: 1em;
}

.stdMarginBottom {
    margin-bottom: 1em;
}

.hiddenLink {
    text-decoration: none;
    color: inherit;
}

.hide {
    display: none !important;
}

.height100 {
    height: 100%;
}

a {
    color: inherit;
}

.noteContainer {
    .note:hover {
        background-color: rgba($color: mat-color($app-accent), $alpha: 0.1)
    }
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: gray;
    padding: 1em;
}

.note {
    height: 100%;
    width: 100%;
    padding: 1em;
}

.textOverflow {
    overflow: auto;
    white-space: nowrap;
}