<div class="sidenavDiv height100">
    <mat-sidenav-container>
        <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" position="end"
            [fixedInViewport]="mobileQuery.matches">
            <mat-list fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="1em" class="height100">
                <div fxLayout="column" fxLayoutAlign="center" cdkDropList [cdkDropListData]="boards"
                    (cdkDropListDropped)="drop($event)">
                    <span mat-list-item class="hide"></span>
                    <div mat-list-item *ngFor="let board of boards; let boardIndex = index;" cdkDrag
                        [class.active]="boardIndex == activeBoardIndex" [class.archived]="board.archived">
                        <div *ngIf="!board.archived || showArchivedBoards.checked" fxLayout="row"
                            fxLayoutAlign="space-between center" fxLayoutGap="1em" class="stdMarginHorizontal"
                            (click)="activeBoardIndex = boardIndex; mobileQuery.matches ? sidenav.close() : null;">
                            <div fxLayout="column" class="stdMargin textOverflow">
                                <a class="hiddenLink" fxLayout="row" fxLayoutAlign="start center">
                                    {{board.title}}<i *ngIf="!board.title">No Title</i>
                                </a>
                                <small *ngIf="board.archived">Archived</small>
                            </div>
                            <button mat-icon-button cdkDragHandle class="forceHideOverflow" aria-label="Drag"
                                matTooltip="Drag Board" [matTooltipShowDelay]="1500">
                                <mat-icon>drag_handle</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div mat-list-item fxLayout="row" fxLayoutAlign="center">
                        <button mat-button aria-label="Add Board" (click)="addBoard()" class="stdMargin">
                            Add Board
                        </button>
                    </div>
                </div>
                <mat-checkbox #showArchivedBoards class="stdMargin">Show Archived Boards
                </mat-checkbox>
            </mat-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-board *ngFor="let board of boards; let boardIndex = index;"
                [class.hide]="boardIndex != activeBoardIndex" [board]="board" (change)="somethingChanged($event)"
                (delete)="deleteBoard(boardIndex)">
            </app-board>
            <div fxLayout="row" fxLayoutAlign="end center" class="stdMargin"
                *ngIf="activeBoardIndex == null || boards.length == 0" fxLayoutGap="1em">
                <strong *ngIf="!loading">The Deck icon above toggles the Boards panel</strong>
            </div>
            <div fxLayout="column" class="bottomFixed">
                <mat-progress-bar *ngIf="loading || saving || moreChanges" mode="indeterminate" color="primary">
                </mat-progress-bar>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>